
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
/* body {
    font-family: 'Muli', sans-serif;
    background-color: #fff !important;
    color: #000 !important;
    overflow-x: hidden !important;

} */

html{
    overflow-x: hidden !important;
}

.card-0{
    overflow-x: hidden !important;
    padding:auto 0px auto 0px !important ; 
    background-color: #000F2E !important;
    color: #FFFFFF !important;
    border-radius:0;
    margin: 0 !important;
    background: url('https://i.imgur.com/4uwpRtg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right calc(70px + (120 - 70) * ((100vw - 320px) / (1600 - 320))) bottom !important    
}

.fa{
    cursor: pointer;
    font-size: 21px ;
    margin: 5px 10px 5px 10px !important;
}


 li:first-child {
    font-size:  20px !important;
    font-weight: bold;
}

small{
    font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important;
}

.social{
    position: relative;
    left: -10px;
}

.Subscribe{
    background-color:#FFFFFF !important;
    font-weight: bold ;
}

small{
    color: #777 !important;
}

/* .btn {
    border-radius: 50px;
} */

.card-1{
    border-left: 3px solid green !important;
    border-radius:0;
}


.fa {
    padding:calc(10px + (10 - 10) * ((100vw - 360px) / (1600 - 360))) !important;
    font-size: calc(15px + (20 - 15) * ((100vw - 360px) / (1600 - 360))) !important;
    width: calc(30px + (38 - 30) * ((100vw - 360px) / (1600 - 360))) !important;
    text-align: center;
    text-decoration: none;
    border-radius:50px !important;
    margin: 6px !important;
}

a{
    text-decoration: none !important;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa:hover{
    background-color: transparent !important;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #3f729b;
  color: white;
}

.fa-linkedin {
  background: #0e76a8;
  color: white;
}

.form-row{
    position: relative;
    left: calc(30px + (50 - 30) * ((100vw - 320px) / (1600 - 320))) ;
}

 @media screen and (max-width: 726px){
    .form-row{
        position: relative;
        left: 0px !important;
    } 

}
@media screen and (max-width: 1143px){

    .card-0{
        background: none;

    }
}
